<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Rest API</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='icons/rest-api-icon.png')}}" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <main class="main">
        {% block content %}{% endblock %}
    </main>
</body>
</html>